
:root{
    --color-primario:#b300ff;
    --color-fondo:#f9f9f9;
    --color-texto:#333;
    --color-secundario:#333;

    --texto-sutitulo:26px

    --color-secundario-hover:#555;
    --color-primario-hover:#0056b3;

}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 25px;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

header{
    background-color:var(--color-secundario)
}

/* este es el css del <nav>*/
.menu{
    height:5vh ;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    align-items: center;
}

/* este es el fin css del <nav>*/


a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;

}

a:hover{
    background-color:var(--color-secundario-hover) ;
    border-radius: 5px;
}


.hero{
    height: 80vh;
    display: flex;
    justify-content:space-between;
    padding: 32px;
    background-color: var(--color-fondo);

    align-items: center;

    
    /* border: 1px solid black; */
}
.hero img{
    width: 100%;
    border-radius: 5px;
}

.descripcion{
    
}

.descripcion h1{
    text-align: center;
    padding: 30px 10px 30px 10px;
    font-size: 52px;
}

.descripcion p{
    font-size: 20px;
    padding:  0 0 30px 0;
   
    
}

.descripcion button{
    /* padding: 16px 32px 16px 32px; */
    padding: 16px 32px ;
    font-size: 18px;
    color: white;
    background-color: var(--color-primario);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s,background-color 0.3s,box-shadow 0.3s;
    /* transition: all 0.3; */
   
}

.descripcion button:hover{
    background-color: var(--color-primario-hover);
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    
}

.contenedorboton{
    display: flex;
    justify-content: center;
}

.altura{
    height: 35vh;
}

.acerca{
 background-color: var(--color-primario);
}

.acerca h2{
    text-align: center;
    padding: 80px 0 40px 0;
    font-size: 40px;
}
.contenedortexto{
    display: flex;
}

.conimagen{
    display: flex;
    align-items: center;
}

.tituloytexto{
    text-align: center;
}

.otrofondo{
    background-color: var(--color-primario);

}